<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
<context:component-scan base-package="com.xuge" />
<!--    &lt;!&ndash;创建各种对象&ndash;&gt;-->
<!--    &lt;!&ndash;创建数据访问层对象&ndash;&gt;-->
<!--    <bean id="userMapper" class="com.xuge.dao.Impl.UserMapperImpl">-->

<!--    </bean>-->
<!--    &lt;!&ndash;创建业务逻辑层对象&ndash;&gt;-->
<!--    <bean id="userService" class="com.xuge.service.Impl.UserServiceImpl">-->
<!--       <property name="userMapper" ref="userMapper"/>-->
<!--    </bean>-->
<!--    &lt;!&ndash;创建界面层对象&ndash;&gt;-->
<!--    <bean id="userController" class="com.xuge.controller.UserController">-->
<!--        <property name="userService" ref="userService"/>-->
<!--    </bean>-->

</beans>